@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /*Color Variables*/
  --black: #2f2f2f;
  --brand: #ab6242;
  /*Font Variables*/
  --fontMain: "Montserrat", sans-serif;
}

/********************/
/* SEMANTIC STYLING */
* {
  margin: 0;
  padding: 0;
  font-family: var(--fontMain);
  line-height: 2;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 4.188rem;
  font-weight: 800;
}
h2 {
  font-size: 3.188rem;
  margin-bottom: 40px;
}
h3 {
  font-size: 2.375rem;
  word-wrap: break-word;
}

p {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 40px;
}
button {
  margin: 25px;
  padding-inline: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--brand);
  border: none;
  color: white;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}
button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--black);
  transition: 0.2s ease-in-out;
  box-shadow: 10px 10px var(--brand);
}
input {
  width: 100%;
  min-width: 200px;
  margin: 25px;
  border: 1px solid var(--black);
  padding: 5px;
  font-weight: 600;
}
/* SEMANTIC STYLING */
/********************/

/***********/
/* UTILITY */
.dark-text {
  color: var(--black);
}
.orange-text {
  color: var(--brand);
}
.bottom-margin {
  margin-bottom: 40px;
}
/* UTILITY */
/***********/

/*******************/
/* LANDING SECTION */
.landing {
  display: flex;
  height: 100vh;
}
.landing p {
  margin: 0;
}
.landing-left {
  height: 100vh;
  width: 50vw;
}
.landing-left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-inline: 50px;
}
.landing-left-bot {
  height: 50vh;
}
#profilepic {
  height: 50vh;
  width: 50vw;
  object-fit: cover;
}
#logo {
  max-width: 100%;
  height: 50vh;
  height: auto;
}
.landing-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--brand);
  width: 50vw;
  height: 100vh;
}
.underline {
  box-sizing: border-box;
  border: 2px solid transparent;
  padding-inline: 10px;
  transition: 0.2s ease;
}
.underline:hover {
  border: 2px solid var(--black);
  transition: 0.2s ease;
  color: var(--black);
  box-shadow: 10px 10px var(--black);
}
.myHero {
  display: flex;
  justify-content: center;
  color: white;
  padding-inline: 50px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding-bottom: 50px;
}
.socials svg {
  margin-inline: 20px;
  transition: 0.2s ease;
  width: 50px;
  box-sizing: border-box;
  fill: white;
  border: 2px solid transparent;
}
.socials svg:hover {
  box-sizing: border-box;
  box-shadow: 10px 10px var(--black);
  transition: 0.2s ease;
  fill: var(--black);
  border: 2px solid var(--black);
}
ul {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: 600;
  color: white;
}
/* LANDING SECTION */
/*******************/

/*****************/
/* ABOUT SECTION */
.orange-title {
  text-align: center;
  background-color: var(--brand);
  color: white;
  margin: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.about {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.education {
  border: 5px solid var(--black);
  box-sizing: border-box;
  width: 50%;
  padding: 50px;
}
.skills {
  background-color: var(--black);
  box-sizing: border-box;
  border: 5px solid var(--black);
  color: white;
  width: 50%;
  padding: 50px;
}
.dark-title {
  text-align: center;
  background-color: var(--black);
  color: white;
  margin: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.project-cards {
  margin: 25px;
  display: flex;
}
.project-cards p {
  margin: 0;
}
.project-cards .text {
  max-width: 400px;
}
.dark-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: white;
  width: 50%;
  margin: 25px;
  padding: 50px;
  box-sizing: border-box;
  transition: 0.2s ease;
  border: 5px solid var(--black);
}
.dark-card:hover {
  cursor: pointer;
  background-color: var(--brand);
  transition: 0.2s ease;
  box-shadow: 20px 20px var(--black);
  border: 5px solid var(--brand);
}
.dark-card img {
  width: 75px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg)
    brightness(103%) contrast(101%);
}
.white-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--black);
  box-sizing: border-box;
  width: 50%;
  margin: 25px;
  padding: 50px;
  transition: 0.2s ease;
}

.white-card a {
  color: var(--black);
}
.white-card:hover {
  cursor: pointer;
  background-color: var(--brand);
  transition: 0.2s ease;
  box-shadow: 20px 20px var(--black);
  border: 5px solid var(--brand);
  color: white;
}
.white-card img {
  width: 75px;
  filter: invert(18%) sepia(0%) saturate(2292%) hue-rotate(240deg)
    brightness(104%) contrast(100%);
}
/* ABOUT SECTION */
/*****************/

/*******************/
/* CONTACT SECTION */
.contact {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.links {
  background-color: var(--black);
  box-sizing: border-box;
  border: 5px solid var(--black);
  color: white;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.link-line {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  width: fit-content;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding-right: 15px;
}
.link-line a {
  width: 300px;
}
.link-line:hover {
  cursor: pointer;
  color: var(--brand);
  transition: 0.2s ease;
  border: 2px solid var(--brand);
  box-sizing: border-box;
  box-shadow: 10px 10px var(--brand);
}
.link-line p {
  margin: 0;
  margin-left: 20px;
}
.links svg {
  width: 50px;
  fill: white;
}
.message {
  text-align: center;
  border: 5px solid var(--black);
  box-sizing: border-box;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
.message h3 {
  margin-bottom: 25px;
}
.message form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75%;
}
/* CONTACT SECTION */
/*******************/

/****************/
/* PROJECT PAGE */

.header {
  display: flex;
  padding-top: 50px;
  margin-inline: 50px;
  background-color: white;
}
.header img {
  max-width: 250px;
  height: auto;
  position: relative;
}
.header a {
  transition: 0.2s ease;
}

.project-info {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--black);
  box-sizing: border-box;
  margin: 50px;
  padding: 50px;
}
.project-info ul {
  list-style: circle;
  color: var(--black);
  text-align: left;
  display: block;
  margin-inline: 5vw;
  padding-top: 0;
  font-weight: 500;
}
.project-info p {
  margin-bottom: 2vw;
}
footer {
  display: flex;
  justify-content: center;
}
footer img {
  width: 40px;
}
footer a {
  color: var(--black);
}
.backToHome {
  margin-inline: 20px;
  transition: 0.2s ease;
  width: fit-content;
  box-sizing: border-box;
  fill: white;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-inline: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.backToHome:hover {
  color: var(--brand);
  box-sizing: border-box;
  box-shadow: 10px 10px var(--brand);
  transition: 0.2s ease;
  fill: var(--brand);
  border: 2px solid var(--brand);
}
.backToHome:hover img {
  filter: invert(38%) sepia(76%) saturate(412%) hue-rotate(333deg)
    brightness(97%) contrast(84%);
  transition: 0.2s ease;
}
/* PROJECT PAGE */
/****************/

/*****************/
/* MEDIA QUERIES */
/*X-Small Screens*/
@media (max-width: 576px) {
  h1 {
    font-size: 2.375rem;
  }
  .landing-right h1 {
    max-width: 400px;
  }
  h2 {
    font-size: 1.312rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
  ul {
    font-size: 0.75rem;
  }
  .about {
    flex-wrap: wrap;
  }
  .education {
    width: 100%;
  }
  .skills {
    width: 100%;
  }
  .contact {
    flex-wrap: wrap;
  }
  .links {
    width: 100%;
  }
  .message {
    width: 100%;
  }
  .landing-left {
    display: none;
  }
  .landing-right {
    width: 100vw;
  }
  .myHero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    text-align: center;
  }
  .project-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dark-card {
    width: 100%;
  }
  .white-card {
    width: 100%;
  }
}

/*Small Screens*/
@media (min-width: 576px) {
  h1 {
    font-size: 2.375rem;
  }
  .landing-right h1 {
    max-width: 400px;
  }
  h2 {
    font-size: 1.312rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
  ul {
    font-size: 0.75rem;
  }
  .about {
    flex-wrap: wrap;
  }
  .education {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-cards {
    flex-wrap: wrap;
  }
  .dark-card {
    width: 100%;
  }
  .white-card {
    width: 100%;
  }
}

/*Medium Screens*/
@media (min-width: 768px) {
  h1 {
    font-size: 3.188rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  h3 {
    font-size: 1.312rem;
  }
  p {
    font-size: 1rem;
  }
  ul {
    font-size: 1rem;
  }
  .about {
    flex-wrap: nowrap;
  }
  .education {
    display: block;
  }
  .skills {
    display: block;
  }
  .project-cards {
    flex-wrap: nowrap;
  }
}

/*Large Screens*/
@media (min-width: 992px) {
  h1 {
    font-size: 3.188rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  h3 {
    font-size: 1.312rem;
  }
  p {
    font-size: 1rem;
  }
  ul {
    font-size: 1rem;
  }
}

/*X-Large Screens*/
@media (min-width: 1200px) {
  h1 {
    font-size: 3.188rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.312rem;
  }
  ul {
    font-size: 1.312rem;
  }
}

/*XX-Large Screens*/
@media (min-width: 1400px) {
  h1 {
    font-size: 4.188rem;
  }
  h2 {
    font-size: 3.188rem;
  }
  h3 {
    font-size: 2.375rem;
  }
  p {
    font-size: 1.75rem;
  }
  ul {
    font-size: 1.75rem;
  }
}
/* MEDIA QUERIES */
/*****************/
